<% if @user %>
  <h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= link_to @user.name,back %> さんとのトークルーム</h1>
<% end %>

<div class="message" style="width: 400px;">
  <% @messages.each do |message| %>
    <% if message.user_id == current_user.id %>
      <p style"text-align: right;"><%= message.message %></p>
    <% else %>
      <p style="text-align: left;"><%= message.message %></p>
    <% end %>
  <% end %>
</div>

<%= form_with model: @message, data: {local:false} do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :room_id, value: @room.id %>
  <%= f.submit "投稿する",class: 'form-submit' %>
<% end %>